# 5 - Consultor SQL OpenAI y Langchain

<br>
<br>

<img src="https://raw.githubusercontent.com/YonatanRA/webinar_text2sql/refs/heads/main/images/text-to-sql.webp" style="width:400px;"/>

<br>
<br>

<img src="https://raw.githubusercontent.com/YonatanRA/webinar_text2sql/refs/heads/main/images/sql_agent.png" style="width:800px;"/>

<h1>Tabla de Contenidos<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1---OpenAI-Api-Key" data-toc-modified-id="1---OpenAI-Api-Key-1">1 - OpenAI Api Key</a></span></li><li><span><a href="#2---Conexión-a-SQL" data-toc-modified-id="2---Conexión-a-SQL-2">2 - Conexión a SQL</a></span></li><li><span><a href="#3---SQL-a-Langchain" data-toc-modified-id="3---SQL-a-Langchain-3">3 - SQL a Langchain</a></span></li><li><span><a href="#4---Modelo-constructor-de-queries" data-toc-modified-id="4---Modelo-constructor-de-queries-4">4 - Modelo constructor de queries</a></span></li><li><span><a href="#5---Cadena-creadora-de-queries-SQL" data-toc-modified-id="5---Cadena-creadora-de-queries-SQL-5">5 - Cadena creadora de queries SQL</a></span></li><li><span><a href="#6---Creación-de-query-desde-prompt" data-toc-modified-id="6---Creación-de-query-desde-prompt-6">6 - Creación de query desde prompt</a></span></li><li><span><a href="#7---Ejecución-de-la-query" data-toc-modified-id="7---Ejecución-de-la-query-7">7 - Ejecución de la query</a></span></li><li><span><a href="#8---Modelo-de-respuesta-final" data-toc-modified-id="8---Modelo-de-respuesta-final-8">8 - Modelo de respuesta final</a></span></li><li><span><a href="#9---Código-completo" data-toc-modified-id="9---Código-completo-9">9 - Código completo</a></span></li></ul></div>

## 1 - OpenAI Api Key

Para llevar a cabo este proyecto, necesitaremos una API KEY de OpenAI para utilizar el modelo GPT-4 Turbo. Esta API KEY se puede obtener en https://platform.openai.com/api-keys. Solo se muestra una vez, por lo que debe guardarse en el momento en que se obtiene. Por supuesto, necesitaremos crear una cuenta para obtenerla.

Guardamos la API KEY en un archivo `.env` para cargarla con la biblioteca dotenv y usarla como una variable de entorno. Este archivo se agrega a `.gitignore` para asegurarnos de que no pueda verse si subimos el código a GitHub, por ejemplo.

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# carga de la api key desde dotenv

import os                           
from dotenv import load_dotenv     


load_dotenv()


OPENAI_API_KEY = os.getenv('OPENAI_API_KEY')  # 'sk-.....'

## 2 - Conexión a SQL

Vamos a conectarnos a MySQL a través de SQLAlchemy utilizando un string de conexión.

In [3]:
from sqlalchemy import create_engine, text

In [4]:
# string de conexion

URI = 'mysql+pymysql://root:password@localhost:3306/sakila'

Dependiendo del servidor o del lenguaje utilizado, MySQL o PostGres por ejemplo, la string de conexión cambiará:

En AWS tiene esta forma:

`postgresql://usuario:password@database.us-west-2.rds.amazonaws.com:5432/nombre_db`

`mysql://usuario:password@database.us-west-2.rds.amazonaws.com:3306/nombre_db`


En SnowFlake tiene esta forma:

```python
# servidor y credenciales del usuario

snowflake_account = os.getenv('snowflake_account')

username = os.getenv('username')

password = os.getenv('password')

database = os.getenv('database')

schema = os.getenv('schema')

warehouse = os.getenv('warehouse')

role = os.getenv('role')


URI = f'snowflake://{username}:{password}@{snowflake_account}/{database}/{schema}?warehouse={warehouse}&role={role}'
    
```

In [5]:
# conexion a SQL 

cursor = create_engine(URI).connect()

In [6]:
# tablas de la base de datos

tablas = cursor.execute(text('show tables;')).all()

tablas = [e[0] for e in tablas]

tablas

['actor',
 'address',
 'adress2',
 'category',
 'city',
 'country',
 'customer',
 'film',
 'film_actor',
 'film_category',
 'film_text',
 'inventory',
 'language',
 'payment',
 'rental',
 'staff',
 'staff2',
 'store']

Podemos seleccionar todas las tablas o solamente las tablas que queremos usar para nuestras consultas, no es necesario que el chat conozca toda la estructura de la base de datos, aunque esto le puede dar una mejor compresión. También, dependiendo del modelo y del tamaño de la estructura, el contexto puede ser demasiado grande para que el modelo lo admita.

## 3 - SQL a Langchain

Importamos `SQLDatabase` de LangChain para conectarnos a SQL.

In [7]:
from langchain import SQLDatabase

In [8]:
# conexion a langchain con todas las tablas y la primera fila de cada una

db = SQLDatabase.from_uri(URI,
                          sample_rows_in_table_info=1, 
                          include_tables=tablas)

In [9]:
# estructura completa que se usara como contexto

print(db.table_info)

CREATE TABLE actor (
	actor_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (actor_id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
1 rows from actor table:
actor_id	first_name	last_name	last_update
1	PENELOPE	GUINESS	2006-02-15 04:34:33
*/


CREATE TABLE address (
	address_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	address VARCHAR(50) NOT NULL,
	address2 VARCHAR(50),
	district VARCHAR(20) NOT NULL,
	city_id SMALLINT UNSIGNED NOT NULL,
	postal_code VARCHAR(10),
	phone VARCHAR(20) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (address_id),
	CONSTRAINT fk_address_city FOREIGN KEY(city_id) REFERENCES city (city_id) ON DELETE RESTRICT ON UPDATE CASCADE
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
1 rows from address table:
address_id	address	address2	district	city_id	postal_code	phone	last_update
1	47 MySakila Drive	None	Alberta	300			2014-09-25 22:30:27
*/


CREATE TABLE adress2 (
	address_id SMALLINT UNSIGNED NOT NULL DEFAULT '0',
	address VARCHAR(50) NOT NULL,
	address2 VARCHAR(50),
	district VARCHAR(20) NOT NULL,
	city_id SMALLINT UNSIGNED NOT NULL,
	postal_code VARCHAR(10),
	phone VARCHAR(20) NOT NULL,
	location VARCHAR(1) NOT NULL DEFAULT '',
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
1 rows from adress2 table:
address_id	address	address2	district	city_id	postal_code	phone	location	last_update
1	47 MySakila Drive	None	Alberta	300			A	2014-09-25 22:30:27
*/


CREATE TABLE category (
	category_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT,
	name VARCHAR(25) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (category_id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
1 rows from category table:
category_id	name	last_update
1	Action	2006-02-15 04:46:27
*/


CREATE TABLE city (
	city_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	city VARCHAR(50) NOT NULL,
	country_id SMALLINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (city_id),
	CONSTRAINT fk_city_country FOREIGN KEY(country_id) REFERENCES country (country_id) ON DELETE RESTRICT ON UPDATE CASCADE
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
1 rows from city table:
city_id	city	country_id	last_update
1	A Coruña (La Coruña)	87	2006-02-15 04:45:25
*/


CREATE TABLE country (
	country_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	country VARCHAR(50) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (country_id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
1 rows from country table:
country_id	country	last_update
1	Afghanistan	2006-02-15 04:44:00
*/


CREATE TABLE customer (
	customer_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	store_id TINYINT UNSIGNED NOT NULL,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	email VARCHAR(50),
	address_id SMALLINT UNSIGNED NOT NULL,
	active TINYINT(1) NOT NULL DEFAULT '1',
	create_date DATETIME NOT NULL,
	last_update TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (customer_id),
	CONSTRAINT fk_customer_address FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_customer_store FOREIGN KEY(store_id) REFERENCES store (store_id) ON DELETE RESTRICT ON UPDATE CASCADE
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
1 rows from customer table:
customer_id	store_id	first_name	last_name	email	address_id	active	create_date	last_update
1	1	MARY	SMITH	MARY.SMITH@sakilacustomer.org	5	1	2006-02-14 22:04:36	2006-02-15 04:57:20
*/


CREATE TABLE film (
	film_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	title VARCHAR(128) NOT NULL,
	description TEXT,
	release_year YEAR,
	language_id TINYINT UNSIGNED NOT NULL,
	original_language_id TINYINT UNSIGNED,
	rental_duration TINYINT UNSIGNED NOT NULL DEFAULT '3',
	rental_rate DECIMAL(4, 2) NOT NULL DEFAULT '4.99',
	length SMALLINT UNSIGNED,
	replacement_cost DECIMAL(5, 2) NOT NULL DEFAULT '19.99',
	rating ENUM('G','PG','PG-13','R','NC-17') DEFAULT 'G',
	special_features SET('Trailers','Commentaries','Deleted Scenes','Behind the Scenes'),
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (film_id),
	CONSTRAINT fk_film_language FOREIGN KEY(language_id) REFERENCES language (language_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_film_language_original FOREIGN KEY(original_language_id) REFERENCES language (language_id) ON DELETE RESTRICT ON UPDATE CASCADE
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
1 rows from film table:
film_id	title	description	release_year	language_id	original_language_id	rental_duration	rental_rate	length	replacement_cost	rating	special_features	last_update
1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies	2006	1	None	6	0.99	86	20.99	PG	{'Behind the Scenes', 'Deleted Scenes'}	2006-02-15 05:03:42
*/


CREATE TABLE film_actor (
	actor_id SMALLINT UNSIGNED NOT NULL,
	film_id SMALLINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (actor_id, film_id),
	CONSTRAINT fk_film_actor_actor FOREIGN KEY(actor_id) REFERENCES actor (actor_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_film_actor_film FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
1 rows from film_actor table:
actor_id	film_id	last_update
1	1	2006-02-15 05:05:03
*/


CREATE TABLE film_category (
	film_id SMALLINT UNSIGNED NOT NULL,
	category_id TINYINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (film_id, category_id),
	CONSTRAINT fk_film_category_category FOREIGN KEY(category_id) REFERENCES category (category_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_film_category_film FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
1 rows from film_category table:
film_id	category_id	last_update
1	6	2006-02-15 05:07:09
*/


CREATE TABLE film_text (
	film_id SMALLINT UNSIGNED NOT NULL,
	title VARCHAR(255) NOT NULL,
	description TEXT,
	PRIMARY KEY (film_id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
1 rows from film_text table:
film_id	title	description
1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies
*/


CREATE TABLE inventory (
	inventory_id MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
	film_id SMALLINT UNSIGNED NOT NULL,
	store_id TINYINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (inventory_id),
	CONSTRAINT fk_inventory_film FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_inventory_store FOREIGN KEY(store_id) REFERENCES store (store_id) ON DELETE RESTRICT ON UPDATE CASCADE
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
1 rows from inventory table:
inventory_id	film_id	store_id	last_update
1	1	1	2006-02-15 05:09:17
*/


CREATE TABLE language (
	language_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT,
	name CHAR(20) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (language_id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
1 rows from language table:
language_id	name	last_update
1	English	2006-02-15 05:02:19
*/


CREATE TABLE payment (
	payment_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	customer_id SMALLINT UNSIGNED NOT NULL,
	staff_id TINYINT UNSIGNED NOT NULL,
	rental_id INTEGER,
	amount DECIMAL(5, 2) NOT NULL,
	payment_date DATETIME NOT NULL,
	last_update TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (payment_id),
	CONSTRAINT fk_payment_customer FOREIGN KEY(customer_id) REFERENCES customer (customer_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_payment_rental FOREIGN KEY(rental_id) REFERENCES rental (rental_id) ON DELETE SET NULL ON UPDATE CASCADE,
	CONSTRAINT fk_payment_staff FOREIGN KEY(staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
1 rows from payment table:
payment_id	customer_id	staff_id	rental_id	amount	payment_date	last_update
1	1	1	76	2.99	2005-05-25 11:30:37	2006-02-15 22:12:30
*/


CREATE TABLE rental (
	rental_id INTEGER NOT NULL AUTO_INCREMENT,
	rental_date DATETIME NOT NULL,
	inventory_id MEDIUMINT UNSIGNED NOT NULL,
	customer_id SMALLINT UNSIGNED NOT NULL,
	return_date DATETIME,
	staff_id TINYINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (rental_id),
	CONSTRAINT fk_rental_customer FOREIGN KEY(customer_id) REFERENCES customer (customer_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_rental_inventory FOREIGN KEY(inventory_id) REFERENCES inventory (inventory_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_rental_staff FOREIGN KEY(staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
1 rows from rental table:
rental_id	rental_date	inventory_id	customer_id	return_date	staff_id	last_update
1	2005-05-24 22:53:30	367	130	2005-05-26 22:04:30	1	2006-02-15 21:30:53
*/


CREATE TABLE staff (
	staff_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	address_id SMALLINT UNSIGNED NOT NULL,
	picture BLOB,
	email VARCHAR(50),
	store_id TINYINT UNSIGNED NOT NULL,
	active TINYINT(1) NOT NULL DEFAULT '1',
	username VARCHAR(16) NOT NULL,
	password VARCHAR(40) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (staff_id),
	CONSTRAINT fk_staff_address FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_staff_store FOREIGN KEY(store_id) REFERENCES store (store_id) ON DELETE RESTRICT ON UPDATE CASCADE
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
1 rows from staff table:
staff_id	first_name	last_name	address_id	picture	email	store_id	active	username	password	last_update
1	Mike	Hillyer	3	b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\x00y\x00\x00\x00u\x08\x02\x00\x00\x00\xe5Z\xd9e\x00\x0	Mike.Hillyer@sakilastaff.com	1	1	Mike	8cb2237d0679ca88db6464eac60da96345513964	2006-02-15 03:57:16
*/


CREATE TABLE staff2 (
	staff_id TINYINT UNSIGNED NOT NULL DEFAULT '0',
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	address_id SMALLINT UNSIGNED NOT NULL,
	picture VARCHAR(1) NOT NULL DEFAULT '',
	email VARCHAR(50),
	store_id TINYINT UNSIGNED NOT NULL,
	active TINYINT(1) NOT NULL DEFAULT '1',
	username VARCHAR(16) NOT NULL,
	password VARCHAR(40) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
1 rows from staff2 table:
staff_id	first_name	last_name	address_id	picture	email	store_id	active	username	password	last_update
1	Mike	Hillyer	3	A	Mike.Hillyer@sakilastaff.com	1	1	Mike	8cb2237d0679ca88db6464eac60da96345513964	2006-02-15 03:57:16
*/


CREATE TABLE store (
	store_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT,
	manager_staff_id TINYINT UNSIGNED NOT NULL,
	address_id SMALLINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (store_id),
	CONSTRAINT fk_store_address FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_store_staff FOREIGN KEY(manager_staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
1 rows from store table:
store_id	manager_staff_id	address_id	last_update
1	1	1	2006-02-15 04:57:12
*/

## 4 - Modelo constructor de queries

Usamos un modelo de OpenAI como LLM de entrada. Una temperatura = 0 hace que las respuestas del modelo sean más deterministas y repetitivas, tendiendo a seleccionar la siguiente palabra más probable según el contexto anterior, lo cual es mejor para la generación de consultas SQL.

In [10]:
# importamos el modelo

from langchain_openai import OpenAI

input_model = OpenAI(model='gpt-3.5-turbo-instruct', temperature=0)

In [11]:
# prueba de uso

input_model.invoke('hola')

'\n\n\n\n¡Hola! ¿En qué puedo ayudarte?'

## 5 - Cadena creadora de queries SQL

Importamos la cadena predefinida que tiene LangChain para test2sql.

In [13]:
from langchain.chains import create_sql_query_chain

In [14]:
# cadena por defecto

database_chain = create_sql_query_chain(input_model, db)

database_chain

RunnableAssign(mapper={
  input: RunnableLambda(...),
  table_info: RunnableLambda(...)
})
| RunnableLambda(lambda x: {k: v for (k, v) in x.items() if k not in ('question', 'table_names_to_use')})
| PromptTemplate(input_variables=['input', 'table_info'], input_types={}, partial_variables={'top_k': '5'}, template='You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use CURDATE() function to get the current date, if the question involves "today".\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}')
| RunnableBinding(bound=OpenAI(client=<openai.resources.completions.Completions object at 0x120b8e9d0>, async_client=<openai.resources.completions.AsyncCompletions object at 0x120e85e50>, temperature=0.0, model_kwargs={}, openai_api_key=SecretStr('**********'), logit_bias={}), kwargs={'stop': ['\nSQLResult:']}, config={}, config_factories=[])
| StrOutputParser()
| RunnableLambda(_strip)

Aqui podemos cambiar el prompt que viene por defecto en la cadena para mejorar la query de salida si fuera necesario.

In [15]:
# prompt custom

from langchain_core.prompts import PromptTemplate

template = '''You are a MySQL expert. Given an input question, 
              first create a syntactically correct MySQL query to run, 
              then look at the results of the query and return the answer to the input question.
              Unless the user specifies in the question a specific number of examples to obtain, 
              query for at most {top_k} results using the LIMIT clause as per MySQL. 
              You can order the results to return the most informative data in the database.
              Never query for all columns from a table. You must query only the columns that 
              are needed to answer the question. 
              Wrap each column name in backticks (`) to denote them as delimited identifiers.
              Pay attention to use only the column names you can see in the tables below. 
              Be careful to not query for columns that do not exist. 
              Also, pay attention to which column is in which table.
              Pay attention to use CURDATE() function to get the current date, 
              if the question involves "today".
              
              Use the following format:
              
              Question: Question here
              
              SQLQuery: SQL Query to run
              
              SQLResult: Result of the SQLQuery
              
              Answer: Final answer here
              
              Only use the following tables:
              
              {table_info}
              
              Question: {input}'''




custom_prompt = PromptTemplate(input_variables=['input', 'table_info', 'top_k', 'dialect'],
                               template=template)

In [16]:
database_chain = create_sql_query_chain(input_model, db, prompt=custom_prompt)

## 6 - Creación de query desde prompt

Ahora, vamos a crear la query de SQL desde castellano. El modelo funciona mejor en inglés, por lo que primero vamos a traducir nuestra consulta al inglés para luego pedirle al modelo que cree la query de SQL.

In [17]:
# nuestra pregunta

prompt = '¿Qué actores tienen de primer nombre SCARLETT?'

In [18]:
# traduccion a ingles, funciona mejor

prompt = input_model.invoke(f'traduce al ingles: {prompt}')

prompt

'\n\nWhat actors have the first name SCARLETT?'

In [19]:
# llamada al modelo creador de queries

sql_query = database_chain.invoke({'question': prompt})

In [20]:
# query SQL creada

sql_query

"SELECT `actor_id`, `first_name`, `last_name`, `last_update` FROM `actor` WHERE `first_name` = 'SCARLETT' LIMIT 5;"

## 7 - Ejecución de la query

Una vez obtenida la query, debemos ejecutarla en el servidor de SQL. Podemos hacer esto directamente con SQLAlchemy. Este es el paso crítico, puesto que si la query no está bien escrita la ejecución fallará. De ocurrir esto podríamos cambiar el prompt del modelo generador de queries para intentar que la query sea operativa.

In [21]:
# respuesta de la query que usaremos como contexto

contexto = cursor.execute(text(sql_query)).all()

contexto

[(81, 'SCARLETT', 'DAMON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (124, 'SCARLETT', 'BENING', datetime.datetime(2006, 2, 15, 4, 34, 33))]

## 8 - Modelo de respuesta final

Una vez obtenida la respuesta del servidor SQL, pasamos al modelo final la tabla como contexto y le damos nuestra pregunta otra vez para que la respuesta sea en castellano.

In [22]:
from langchain_openai.chat_models import ChatOpenAI   

output_model = ChatOpenAI(model='gpt-4-turbo')

In [23]:
# le damos la pregunta original y el contexto extraido desde SQL

final_prompt = f'''Given the next context, answer the cuestion: 
                    
                    context: {contexto}, 
                    
                    question: {prompt}
                    
                    Give the answer in Spanish.
                    
                    '''

In [24]:
respuesta_final = output_model.invoke(final_prompt).content

respuesta_final

'Los actores con el nombre de pila SCARLETT son Scarlett Damon y Scarlett Bening.'

## 9 - Código completo

In [25]:
# librerias   


import warnings
warnings.filterwarnings('ignore')                     # para quitar avisos

from sqlalchemy import create_engine, text            # conexion SQL y text para queries

from langchain import SQLDatabase                     # conexion SQL a LangChain
from langchain_core.prompts import PromptTemplate     # creacion de prompts
from langchain.chains import create_sql_query_chain   # cadana de creacion de queries SQL
from langchain_openai import OpenAI                   # modelo OpenAI
from langchain_openai.chat_models import ChatOpenAI   # modelo chat OpenAI


import os                                             # libreria del sistema
from dotenv import load_dotenv                        # carga de variables de entorno
 

# variables de entorno
load_dotenv()


# api key OpenAI
OPENAI_API_KEY = os.getenv('OPENAI_API_KEY')


# string de conexion servidor SQL
URI = 'mysql+pymysql://root:password@localhost:3306/sakila'



# prompt inicial
input_model = OpenAI(model='gpt-3.5-turbo-instruct', temperature=0)

prompt = '¿Qué actores tienen como apellido JOHANSSON?'

prompt = input_model.invoke(f'Traduce al ingles: {prompt}')

prompt = prompt 


# conexion a base de datos
cursor = create_engine(URI).connect()

tablas = cursor.execute(text('show tables;')).all()
tablas = [e[0] for e in tablas]

db = SQLDatabase.from_uri(URI, sample_rows_in_table_info=1, include_tables=tablas)



# definion del prompt para generar query SQL
sql_prompt = '''You are a MySQL expert. Given an input question, 
          first create a syntactically correct MySQL query to run, 
          then look at the results of the query and return the answer to the input question.
          Unless the user specifies in the question a specific number of examples to obtain, 
          query for at most {top_k}0 results using the LIMIT clause as per MySQL. 
          You can order the results to return the most informative data in the database.
          Never query for all columns from a table. You must query only the columns that 
          are needed to answer the question. 
          Wrap each column name in backticks (`) to denote them as delimited identifiers.
          Pay attention to use only the column names you can see in the tables below. 
          Be careful to not query for columns that do not exist. 
          Also, pay attention to which column is in which table.
          Pay attention to use CURDATE() function to get the current date, 
          if the question involves "today".

          Use the following format:

          Question: Question here

          SQLQuery: SQL Query to run

          SQLResult: Result of the SQLQuery

          Answer: Final answer here

          Only use the following tables:

          {table_info}

          Question: {input}'''


sql_prompt = PromptTemplate(input_variables=['input', 'table_info', 'top_k', 'dialect'],
                            template=sql_prompt)


# creacion de query SQL
database_chain = create_sql_query_chain(input_model, db, prompt=sql_prompt)

sql_query = database_chain.invoke({'question': prompt})


# ejecucion de la query SQL
contexto = cursor.execute(text(sql_query)).all()


# respuesta final 
output_model = ChatOpenAI(model='gpt-4-turbo')

final_prompt = f'''Given the next query and context, answer the cuestion:

               query: {sql_query},

               context: {contexto}, 

               question: {prompt}.

               If the context is a number, answer the question with it.

               Give the answer in Spanish.
               '''

respuesta = output_model.invoke(final_prompt).content


print(respuesta)

Los actores que tienen el apellido JOHANSSON son:

- MATTHEW JOHANSSON
- RAY JOHANSSON
- ALBERT JOHANSSON